:root {
  --primary-color: #ffffff;
  --secondary-color: #000000;
}

[data-theme="dark"] {
  --primary-color: #ffffff;
  --secondary-color: #000000;
}

[data-theme="light"] {
  --primary-color: #000000;
  --secondary-color: #ffffff;
}

body {
  margin: 0;
  font-family: Helvetica;
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

body {
  transition-property: color, background-color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
}

button {
  background: none;
  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  transition-property: border, color;
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
}

.header {
  position: fixed;
  top: 10px;
  left: 10px;
  z-index: 999;
  display: flex;
  align-items: center;
}

.header > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input {
  background: none;
  border: none;
  color: var(--primary-color);
  min-width: 180px
}

input:focus{
  outline: none;
}

#loading {
  position: fixed !important;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}

.fetch-error {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
}

.fetch-error p {
  margin-top: 0;
}

/* GUIDE */
.guide-closed {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 999;
}

.guide-open {
  position: fixed;
  top: 10px;
  right: 10px;
  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.guide-open p {
  font-size: 0.9rem;
  margin-top: 15px;
  margin-bottom: 0px;
}

.guide-theme {
  margin-top: 15px;
}

.guide-buttons {
  font-size: 1.3rem;
  padding-bottom: 4px;
}

.guide-buttons:hover {
  cursor: pointer;
}


/* SVG */
svg {
  width: 60px;
}

.st0 {
  opacity: 0;
  stroke: var(--primary-color);
  fill: var(--primary-color);
  stroke-miterlimit: 10;
}

.st1 {
  stroke: var(--primary-color);
  fill: var(--primary-color);
  stroke-width: 0.24;
}

.st2 {
  opacity: 0;
  fill: var(--secondary-color);
  stroke: var(--secondary-color);
  stroke-miterlimit: 10;
}

.st3 {
  fill: var(--secondary-color);
  stroke: var(--secondary-color);
  stroke-width: 0.24;
}

.st0, .st1, .st2, .st3 {
  transition-property: fill, stroke;
  transition-duration: 0.3s;
  transition-timing-function: ease-in;
}

